In [1]:
import pandas as pd
import pandasql as ps

In [2]:
filename = 'input_data/weather_underground.csv'

weather_data = pd.read_csv(filename)

def execute_sql(sql_str):
    return ps.sqldf(sql_str.lower(), globals())

In [3]:
weather_data.head()

,date,maxpressurem,maxdewptm,maxpressurei,maxdewpti,since1julheatingdegreedaysnormal,heatingdegreedaysnormal,since1sepcoolingdegreedaysnormal,hail,since1julsnowfallm,...,precipi,snowfalli,since1jancoolingdegreedaysnormal,precipm,snowfallm,thunder,monthtodateheatingdegreedays,meantempi,maxvism,meantempm
0,2011-05-01,1026,6,30.31,42,4646,8,NaN,0,157.23,...,0.0,0.0,13,0.0,0.0,0,5,60,16,16
1,2011-05-02,1026,10,30.31,50,4653,7,NaN,0,157.23,...,0.0,0.0,14,0.0,0.0,0,13,57,16,14
2,2011-05-03,1021,15,30.14,59,4660,7,NaN,0,157.23,...,0.0,0.0,15,0.0,0.0,0,13,65,16,18
3,2011-05-04,1017,14,30.03,57,4667,7,NaN,0,157.23,...,0.5,0.0,16,12.7,0.0,0,23,55,16,13
4,2011-05-05,1016,4,30.01,39,4673,6,NaN,0,157.23,...,0.0,0.0,17,0.0,0.0,0,32,56,16,13

# 1 - Number of Rainy Days

In [4]:
q = "SELECT COUNT(*) FROM weather_data WHERE rain=1"

execute_sql(q)

   count(*)
0        10

# 2 - Temp on Foggy and Nonfoggy Days

In [5]:
q = "SELECT fog, MAX(maxtempi) FROM weather_data GROUP BY fog"

execute_sql(q)

   fog  max(maxtempi)
0    0             86
1    1             81

# 3 - Mean Temp on Weekends

In [6]:
q = "SELECT AVG(meantempi) FROM weather_data WHERE strftime('%w', date)='0' OR strftime('%w', date)='6'"

execute_sql(q)

   avg(meantempi)
0       65.111111

# 4 - Mean Temp on Rainy Days

In [7]:
q = "SELECT AVG(mintempi) FROM weather_data WHERE mintempi > 55 AND rain = 1"

execute_sql(q)

   avg(mintempi)
0          61.25