In [1]:
import pandas as pd
import pandasql as ps

In [2]:
filename = 'input_data/weather_underground.csv'

weather_data = pd.read_csv(filename)

def execute_sql(sql_str):
    return ps.sqldf(sql_str.lower(), globals())

# 1 - Number of Rainy Days

In [3]:
q = "SELECT COUNT(*) FROM weather_data WHERE rain=1"

execute_sql(q)

   count(*)
0        10

# 2 - Temp on Foggy and Nonfoggy Days

In [4]:
q = "SELECT fog, MAX(maxtempi) FROM weather_data GROUP BY fog"

execute_sql(q)

   fog  max(maxtempi)
0    0             86
1    1             81

# 3 - Mean Temp on Weekends

In [5]:
q = "SELECT AVG(meantempi) FROM weather_data WHERE strftime('%w', date)='0' OR strftime('%w', date)='6'"

execute_sql(q)

   avg(meantempi)
0       65.111111

# 4 - Mean Temp on Rainy Days

In [6]:
q = "SELECT AVG(mintempi) FROM weather_data WHERE mintempi > 55 AND rain = 1"

execute_sql(q)

   avg(mintempi)
0          61.25