In [1]:
from datetime import datetime

import pandas as pd

In [2]:
input_filename = "input_data/turnstile_data_master_subset_time_to_hours.csv"
turnstile_master = pd.read_csv(input_filename)
student_df = turnstile_master.copy(deep=True)

# 10 - Time to Hour

In [3]:
def time_to_hour(time):
    '''
    Given an input variable time that represents time in the format of:
    "00:00:00" (hour:minutes:seconds)
    
    Write a function to extract the hour part from the input variable time
    and return it as an integer. For example:
        1) if hour is 00, your code should return 0
        2) if hour is 01, your code should return 1
        3) if hour is 21, your code should return 21
        
    Please return hour as an integer.
    '''
    
    hour = int(time.split(':')[0])
    return hour

In [4]:
student_df['Hour'] = student_df['TIMEn'].map(time_to_hour)
student_df

,Unnamed: 0,UNIT,DATEn,TIMEn,DESCn,ENTRIESn_hourly,EXITSn_hourly,Hour
0,0,R022,05-01-11,00:00:00,REGULAR,0.0,0.0,0
1,1,R022,05-01-11,04:00:00,REGULAR,562.0,173.0,4
2,2,R022,05-01-11,08:00:00,REGULAR,160.0,194.0,8
3,3,R022,05-01-11,12:00:00,REGULAR,820.0,1025.0,12
4,4,R022,05-01-11,16:00:00,REGULAR,2385.0,1954.0,16
5,5,R022,05-01-11,20:00:00,REGULAR,3631.0,2010.0,20
6,6,R022,05-02-11,00:00:00,REGULAR,1788.0,733.0,0
7,7,R022,05-02-11,04:00:00,REGULAR,246.0,70.0,4
8,8,R022,05-02-11,08:00:00,REGULAR,236.0,767.0,8
9,9,R022,05-02-11,12:00:00,REGULAR,1611.0,3681.0,12
10,10,R022,05-02-11,16:00:00,REGULAR,3675.0,2337.0,16
11,11,R022,05-02-11,20:00:00,REGULAR,7598.0,2500.0,20
12,12,R022,05-03-11,00:00:00,REGULAR,3395.0,717.0,0
13,13,R022,05-03-11,04:00:00,REGULAR,309.0,52.0,4
14,14,R022,05-03-11,08:00:00,REGULAR,250.0,779.0,8
15,15,R022,05-03-11,12:00:00,REGULAR,138.0,1192.0,12
16,16,R022,05-03-11,16:00:00,REGULAR,3919.0,3471.0,16
17,17,R022,05-03-11,20:00:00,REGULAR,9651.0,4037.0,20
18,18,R022,05-04-11,00:00:00,REGULAR,3687.0,789.0,0
19,19,R022,05-04-11,04:00:00,REGULAR,285.0,66.0,4
20,20,R022,05-04-11,08:00:00,REGULAR,266.0,738.0,8
21,21,R022,05-04-11,12:00:00,REGULAR,1657.0,3411.0,12
22,22,R022,05-04-11,16:00:00,REGULAR,3651.0,2943.0,16
23,23,R022,05-04-11,20:00:00,REGULAR,7877.0,2706.0,20
24,24,R022,05-05-11,00:00:00,REGULAR,3514.0,766.0,0
25,25,R022,05-05-11,04:00:00,REGULAR,145.0,49.0,4
26,26,R022,05-05-11,08:00:00,REGULAR,366.0,756.0,8
27,27,R022,05-05-11,12:00:00,REGULAR,1913.0,3968.0,12
28,28,R022,05-05-11,16:00:00,REGULAR,4269.0,2662.0,16
29,29,R022,05-05-11,20:00:00,REGULAR,5846.0,2414.0,20
...,...,...,...,...,...,...,...,...
346,346,R170,05-02-11,05:00:00,REGULAR,377.0,219.0,5
347,347,R170,05-02-11,09:00:00,REGULAR,1860.0,6448.0,9
348,348,R170,05-02-11,13:00:00,REGULAR,4224.0,9045.0,13
349,349,R170,05-02-11,17:00:00,REGULAR,6863.0,4104.0,17
350,350,R170,05-02-11,21:00:00,REGULAR,11551.0,3640.0,21
351,351,R170,05-03-11,01:00:00,REGULAR,6069.0,1543.0,1
352,352,R170,05-03-11,05:00:00,REGULAR,6722.0,10310.0,5
353,353,R170,05-03-11,09:00:00,REGULAR,1868.0,6747.0,9
354,354,R170,05-03-11,13:00:00,REGULAR,4474.0,10893.0,13
355,355,R170,05-03-11,17:00:00,REGULAR,8658.0,8591.0,17
356,356,R170,05-03-11,21:00:00,REGULAR,15251.0,9014.0,21
357,357,R170,05-04-11,01:00:00,REGULAR,4736.0,1570.0,1
358,358,R170,05-04-11,05:00:00,REGULAR,5044.0,404.0,5
359,359,R170,05-04-11,09:00:00,REGULAR,1868.0,6967.0,9
360,360,R170,05-04-11,13:00:00,REGULAR,4571.0,11292.0,13
361,361,R170,05-04-11,17:00:00,REGULAR,9180.0,8354.0,17
362,362,R170,05-04-11,21:00:00,REGULAR,15607.0,8747.0,21
363,363,R170,05-05-11,01:00:00,REGULAR,5268.0,1593.0,1
364,364,R170,05-05-11,05:00:00,REGULAR,457.0,172.0,5
365,365,R170,05-05-11,09:00:00,REGULAR,1845.0,6519.0,9
366,366,R170,05-05-11,13:00:00,REGULAR,4915.0,11668.0,13
367,367,R170,05-05-11,17:00:00,REGULAR,10872.0,9311.0,17
368,368,R170,05-05-11,21:00:00,REGULAR,16636.0,10343.0,21
369,369,R170,05-06-11,01:00:00,REGULAR,6794.0,2309.0,1
370,370,R170,05-06-11,05:00:00,REGULAR,1184.0,379.0,5
371,371,R170,05-06-11,09:00:00,REGULAR,1734.0,6358.0,9
372,372,R170,05-06-11,13:00:00,REGULAR,5159.0,11416.0,13
373,373,R170,05-06-11,16:03:04,REGULAR,4166.0,3547.0,16
374,374,R170,05-06-11,17:00:00,REGULAR,7340.0,6536.0,17
375,375,R170,05-06-11,21:00:00,REGULAR,17037.0,11134.0,21

# 11 - Reformat Subway Dates

In [5]:
def reformat_subway_dates(date):
    '''
    The dates in our subway data are formatted in the format month-day-year.
    The dates in our weather underground data are formatted year-month-day.
    
    In order to join these two data sets together, we'll want the dates formatted
    the same way.  Write a function that takes as its input a date in the MTA Subway
    data format, and returns a date in the weather underground format.
    
    Hint: 
    There are a couple of useful functions in the datetime library that will
    help on this assignment, called strptime and strftime. 
    More info can be seen here and further in the documentation section:
    http://docs.python.org/2/library/datetime.html#datetime.datetime.strptime
    '''
    pure_date = datetime.strptime(date, '%m-%d-%y')
    date_formatted = datetime.strftime(pure_date, '%Y-%m-%d')
    return date_formatted

In [6]:
student_df['DATEn'] = student_df['DATEn'].map(reformat_subway_dates)
student_df

,Unnamed: 0,UNIT,DATEn,TIMEn,DESCn,ENTRIESn_hourly,EXITSn_hourly,Hour
0,0,R022,2011-05-01,00:00:00,REGULAR,0.0,0.0,0
1,1,R022,2011-05-01,04:00:00,REGULAR,562.0,173.0,4
2,2,R022,2011-05-01,08:00:00,REGULAR,160.0,194.0,8
3,3,R022,2011-05-01,12:00:00,REGULAR,820.0,1025.0,12
4,4,R022,2011-05-01,16:00:00,REGULAR,2385.0,1954.0,16
5,5,R022,2011-05-01,20:00:00,REGULAR,3631.0,2010.0,20
6,6,R022,2011-05-02,00:00:00,REGULAR,1788.0,733.0,0
7,7,R022,2011-05-02,04:00:00,REGULAR,246.0,70.0,4
8,8,R022,2011-05-02,08:00:00,REGULAR,236.0,767.0,8
9,9,R022,2011-05-02,12:00:00,REGULAR,1611.0,3681.0,12
10,10,R022,2011-05-02,16:00:00,REGULAR,3675.0,2337.0,16
11,11,R022,2011-05-02,20:00:00,REGULAR,7598.0,2500.0,20
12,12,R022,2011-05-03,00:00:00,REGULAR,3395.0,717.0,0
13,13,R022,2011-05-03,04:00:00,REGULAR,309.0,52.0,4
14,14,R022,2011-05-03,08:00:00,REGULAR,250.0,779.0,8
15,15,R022,2011-05-03,12:00:00,REGULAR,138.0,1192.0,12
16,16,R022,2011-05-03,16:00:00,REGULAR,3919.0,3471.0,16
17,17,R022,2011-05-03,20:00:00,REGULAR,9651.0,4037.0,20
18,18,R022,2011-05-04,00:00:00,REGULAR,3687.0,789.0,0
19,19,R022,2011-05-04,04:00:00,REGULAR,285.0,66.0,4
20,20,R022,2011-05-04,08:00:00,REGULAR,266.0,738.0,8
21,21,R022,2011-05-04,12:00:00,REGULAR,1657.0,3411.0,12
22,22,R022,2011-05-04,16:00:00,REGULAR,3651.0,2943.0,16
23,23,R022,2011-05-04,20:00:00,REGULAR,7877.0,2706.0,20
24,24,R022,2011-05-05,00:00:00,REGULAR,3514.0,766.0,0
25,25,R022,2011-05-05,04:00:00,REGULAR,145.0,49.0,4
26,26,R022,2011-05-05,08:00:00,REGULAR,366.0,756.0,8
27,27,R022,2011-05-05,12:00:00,REGULAR,1913.0,3968.0,12
28,28,R022,2011-05-05,16:00:00,REGULAR,4269.0,2662.0,16
29,29,R022,2011-05-05,20:00:00,REGULAR,5846.0,2414.0,20
...,...,...,...,...,...,...,...,...
346,346,R170,2011-05-02,05:00:00,REGULAR,377.0,219.0,5
347,347,R170,2011-05-02,09:00:00,REGULAR,1860.0,6448.0,9
348,348,R170,2011-05-02,13:00:00,REGULAR,4224.0,9045.0,13
349,349,R170,2011-05-02,17:00:00,REGULAR,6863.0,4104.0,17
350,350,R170,2011-05-02,21:00:00,REGULAR,11551.0,3640.0,21
351,351,R170,2011-05-03,01:00:00,REGULAR,6069.0,1543.0,1
352,352,R170,2011-05-03,05:00:00,REGULAR,6722.0,10310.0,5
353,353,R170,2011-05-03,09:00:00,REGULAR,1868.0,6747.0,9
354,354,R170,2011-05-03,13:00:00,REGULAR,4474.0,10893.0,13
355,355,R170,2011-05-03,17:00:00,REGULAR,8658.0,8591.0,17
356,356,R170,2011-05-03,21:00:00,REGULAR,15251.0,9014.0,21
357,357,R170,2011-05-04,01:00:00,REGULAR,4736.0,1570.0,1
358,358,R170,2011-05-04,05:00:00,REGULAR,5044.0,404.0,5
359,359,R170,2011-05-04,09:00:00,REGULAR,1868.0,6967.0,9
360,360,R170,2011-05-04,13:00:00,REGULAR,4571.0,11292.0,13
361,361,R170,2011-05-04,17:00:00,REGULAR,9180.0,8354.0,17
362,362,R170,2011-05-04,21:00:00,REGULAR,15607.0,8747.0,21
363,363,R170,2011-05-05,01:00:00,REGULAR,5268.0,1593.0,1
364,364,R170,2011-05-05,05:00:00,REGULAR,457.0,172.0,5
365,365,R170,2011-05-05,09:00:00,REGULAR,1845.0,6519.0,9
366,366,R170,2011-05-05,13:00:00,REGULAR,4915.0,11668.0,13
367,367,R170,2011-05-05,17:00:00,REGULAR,10872.0,9311.0,17
368,368,R170,2011-05-05,21:00:00,REGULAR,16636.0,10343.0,21
369,369,R170,2011-05-06,01:00:00,REGULAR,6794.0,2309.0,1
370,370,R170,2011-05-06,05:00:00,REGULAR,1184.0,379.0,5
371,371,R170,2011-05-06,09:00:00,REGULAR,1734.0,6358.0,9
372,372,R170,2011-05-06,13:00:00,REGULAR,5159.0,11416.0,13
373,373,R170,2011-05-06,16:03:04,REGULAR,4166.0,3547.0,16
374,374,R170,2011-05-06,17:00:00,REGULAR,7340.0,6536.0,17
375,375,R170,2011-05-06,21:00:00,REGULAR,17037.0,11134.0,21