In [5]:
import pandas as pd
import pandasql as ps

In [6]:
def avg_min_temperature(filename):
    '''
    This function should run a SQL query on a dataframe of
    weather data. More specifically you want to find the average
    minimum temperature (mintempi column of the weather dataframe) on 
    rainy days where the minimum temperature is greater than 55 degrees.
    
    You might also find that interpreting numbers as integers or floats may not
    work initially.  In order to get around this issue, it may be useful to cast
    these numbers as integers.  This can be done by writing cast(column as integer).
    So for example, if we wanted to cast the maxtempi column as an integer, we would actually
    write something like where cast(maxtempi as integer) = 76, as opposed to simply 
    where maxtempi = 76.
    
    You can see the weather data that we are passing in below:
    https://www.dropbox.com/s/7sf0yqc9ykpq3w8/weather_underground.csv
    '''
    weather_data = pd.read_csv(filename)

    q = """
    SELECT AVG(mintempi) FROM weather_data WHERE mintempi > 55 AND rain = 1
    """
    
    #Execute your SQL command against the pandas frame
    avg_min_temp_rainy = ps.sqldf(q.lower(), locals())
    return avg_min_temp_rainy

In [7]:
filename = 'input_data/weather_underground.csv'

In [9]:
avg_min_temperature(filename)

C:\Users\smszw\Anaconda3\lib\site-packages\pandas\io\sql.py:1234: FutureWarning: write_frame is deprecated, use to_sql
  warnings.warn("write_frame is deprecated, use to_sql", FutureWarning)
C:\Users\smszw\Anaconda3\lib\site-packages\pandas\io\sql.py:1196: FutureWarning: frame_query is deprecated, use read_sql
  warnings.warn("frame_query is deprecated, use read_sql", FutureWarning)

   avg(mintempi)
0          61.25